<!doctype html>
<html>
<head>
    <title>MVC Test</title>
</head>
<body>
    <h1>MVC Test</h1>
    <p><a href="/api/accounts">View Accounts</a></p>
    <p><a href="/api/incomes">View Incomes</a></p>
</body>
</html>